<div class="topnav">
    <%= link_to 'Niner Interact', '/welcome/index' %>
    <%= link_to 'Clubs', clubs_path, class: 'active' %>
    <%= link_to 'Meetings', club_meetings_path(:club_id) %>
    <%= link_to 'Blogs', club_meeting_blogs_path(:club_id, :meeting_id) %>
    
    <div class="search-container">
        <form action="/action_page.php">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">Submit</button>
            <loginbutton onclick="document.getElementById('id01').style.display='block'">Login</loginbutton>
        </form>
    </div>
</div>