<p>
    <strong>Purpose:</strong>
    <%= meeting.purpose %>
</p>
 
<p>
    <strong>Timestamp:</strong>
    <%= meeting.timeStamp %>
</p>
  
<p>
    <strong>Location:</strong>
    <%= meeting.location %>
</p>
  
<p>
    <%= link_to 'Destroy', [meeting.club, meeting], method: :delete, data: { confrirm: 'Are you sure?'}, class:'button' %>
</p>