<%= render 'topnav' %>

<div class="title">
    Niner Interact
</div>
    
<%= image_tag('unccLogo.jpg', class: 'logo') %>

<div>
    Welcome to Niner Interact. You can view existing clubs, meetings, and blogs using the navigation above.
</div>

<div>
    If you'd like to create your own club, use this link.
</div>

<div>
    To create a meeting, use this link.
</div>

<div>
    To create a new blog post, use this link.
</div>