.title {
    font-size: 100px;
    font-family: 'TradeGothicLTStd-BdCn20',Helvetica,Arial,sans-serif;
    font-weight: 500;
    color: #046A38;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 32px;
    color: white;
    background: #046A38;
    text-align: center;
}

.text {
    font-size: 24px;
    color: #046A38;
}

#blogs {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#blogs th {
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    background-color: #046A38;
    color: white;
}

#blogs td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#blogs tr:nth-child(even) {
    background-color: #f2f2f2;
}

.new-blog-button {
    font-size: 20px;
    color: white;
    background: #046A38;
    padding: 14px;
    margin-bottom: 20px;
}

.new-blog-button:hover {
    background: #B9975B;
}