/**********blog table styling**********/
#blogs { /*table of blogs on index*/
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    float: left;
}
#blogs tr:nth-child(even) { /*rows alternate color*/
    background-color: #f2f2f2;
}
#blogs th { /*styles table headers*/
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    background-color: #046A38;
    color: white;
}
#blogs td { /*styles table data*/
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}