/**********new blog button**********/
.new-blog-button { /*button to create blog*/
    font-size: 20px;
    color: white;
    background: #046A38;
    padding: 14px;
    margin-bottom: 20px;
}
.new-blog-button:hover { /*changes cursor*/
    background: #B9975B;
}

/**********blog table styling**********/
#blogs { /*table of blogs on index*/
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    margin-left: 800px;
}
#blogs tr:nth-child(even) { /*rows alternate color*/
    background-color: #f2f2f2;
}
#blogs th { /*styles table headers*/
    font-size: 20px;
    padding-top: 10px;
    text-align: center;
    background-color: #046A38;
    color: white;
}
#blogs td { /*styles table data*/
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}