/**********columns for meeting and post*/
.column { /*creates the columns*/
  float: left;
  width: 50%;
}
.row:after { /* clear floats after the columns */
  content: "";
  display: table;
  clear: both;
  background-color: green;
}
@media screen and (max-width: 600px) { /*responsive layout*/
  .column {
    width: 100%;
  }
}

/*create cards to split information*/
.card {
  background-color: #046A38;
  padding: 20px;
  margin-top: 20px;
}
.part { /*cards within for dividing fields*/
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}