/**********top navigation bar**********/
.topnav { /*makes background green*/
    overflow: hidden;
    background-color: #046A38;
}
.active { /*current tab turns gold*/
    background-color: #B9975B;
    color: white;
}
.topnav a { /*styles the links*/
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover { /*hovered links are gold*/
    background-color: #B9975B;
    opacity: .9;
    color: white;
}

/**********page beginning and end**********/
.header {
  background-image: url('UNCCLandscape.jpg');
  text-align: center;
  padding: 80px;
  font-size: 60px;
  color: white;
}
.footer {
  background-color: #046A38;
  text-align: center;
  padding: 10px;
}

/**********login**********/
.topnav .loginbutton {
    float: right;
    background: #046A38;
    color: white;
}

.topnav .loginbutton a:hover {
    background-color: #B9975B;
    opacity: .9;
}

.topnav .loginname {
    float: right;
    color: white;
    font-size: 17px;
    padding: 14px 16px;
}