/**********top navigation appearance**********/
.topnav { /*makes background green*/
    overflow: hidden;
    background-color: #046A38;
}
.active { /*current tab turns gold*/
    background-color: #B9975B;
    color: white;
}

/**********navigation link behaviour**********/
.topnav a { /*styles the links*/
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover { /*hovered links are gold*/
    background-color: #B9975B;
    opacity: .9;
    color: white;
}

/**********login**********/
.topnav .loginbutton {
    float: right;
}

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
