.title {
    font-size: 100px;
    font-family: 'TradeGothicLTStd-BdCn20',Helvetica,Arial,sans-serif;
    font-weight: 500;
    color: #046A38;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0,0.4);
    margin-top: 20px;
    margin-bottom: 10px;
}
h1 {
    font-size: 32px;
    color: white;
    background: #046A38;
    text-align: center;
}
body
{
    color: black;
    background: white;
}
img.Logo {
    max-width: 30%;
    max-height: 30%;
    position: absolute;
    right: 50px;
}
.flex-container {
    display: flex;
    flex-direction: column;
    background-color: #046A38;
    max-width: 35%;
    margin-left: 50px;
    justify-content: center;
}
.flex-container > div {
    background-color: #B9975B;
    width: 400px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}